<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579646886811-lm84ueb0e2f28gtv6hqcdragh6c2ordn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579646886811-lm84ueb0e2f28gtv6hqcdragh6c2ordn</string>
	<key>API_KEY</key>
	<string>AIzaSyBJSHDZtTKprOmdfq1zaLPVEoIh6AwU1Ao</string>
	<key>GCM_SENDER_ID</key>
	<string>579646886811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vasif.com.MovieArtApp</string>
	<key>PROJECT_ID</key>
	<string>movieartapp</string>
	<key>STORAGE_BUCKET</key>
	<string>movieartapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579646886811:ios:8979c4e37e30593f98073e</string>
</dict>
</plist>